header{
    width: 100%;
    height: 60px;
    background-image: url("../images/KakaoTalk_20240513_222421630.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: end;
    position: fixed;
}

header > p {
    width: 128px;
    height: 29px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
#container{
    width: 100%;
    height: 100vh;
    background-color: #10131C;
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    width: 768px;
    height: 640px;
    border: 1px solid #4F5770;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    width: 736px;
    height: 49px;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #D3DCE9;
}
.main > p{
    width: 260px;
    height: 30px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding-left: 16px;
}
.sub_main{
    width: 736px;
    height: 49px;
    padding-top: 16px;
}
.text_box{
    width: 736px;
    height: 49px;
    background-color: #10131C;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border:1px solid #D3DCE9;
    border-radius: 8px;
    padding-left: 16px;
    box-sizing: border-box;
}
.box2{
    width: 736px;
    height: 450px;
    padding-top: 24px;
    box-sizing: border-box;
}
.special_character{
    display: flex;
    width: 736px;
    height: 42px;
    background-color: #4F5770;
    border:1px solid #D3DCE9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}
.write_box{
    width: 736px;
    height: 380px;
    background-color: #4F5770;
    border:1px solid #D3DCE9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box;
}
.write_word{
    width: 734px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #4F5770;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.word{
    display: flex;
    width: 736px;
    height: 40px;
    padding-top: 16px;
    flex-direction: row;
    justify-content: space-between;
}
.word1{
    display: flex;
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #3254CE;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.word2{
    width: 120px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #3254CE;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.word :hover{
    color:green;
}
.word :active{
    color: yellow;
}
a > button{
    background-color: #3254CE;
    border: none;
}
.word2 > button{
    background-color: #3254CE;
    border: none;
}